<% @PAGE_TITLE = "Edit Campaign: #{@campaign.title}" %>

<%= simple_form_for @campaign, :url => admin_campaign_path(@campaign), :html => {:class => "form-horizontal"} do |f| %>
    <h2>Campaign</h2>
    <%= render 'form_fields', f: f %>
<% end %>
