<% @PAGE_TITLE = "Create a Campaign" %>

<%= simple_form_for @campaign, :url => admin_campaigns_path, :html => {:class => "form-horizontal"} do |f| %>

    <h2>Campaign</h2>
    <%= render 'form_fields', f: f %>

<% end %>
