<% @PAGE_TITLE = "Create an Output" %>

<%= simple_form_for @output, :url => admin_outputs_path, :html => {:class => "form-horizontal"} do |f| %>

    <h2>Output</h2>
    <%= f.input :key %>
    <%= f.input :description, :input_html => { :rows => 5 } %>
    <%= f.button :submit, class: "btn" %>

<% end %>
